{% extends 'base.html' %}

{% block base %}
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0">Gestión de Mesas</h1>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="">Gestión de Mesas</a></li>
               <li class="breadcrumb-item active">Mesas</li>
            </ol>
         </div>
      </div>
   </div>
</div>
<div id="tables">
   <div class="content">
      <div class="row">
         <div v-for="table in tables" :key="table.table_id" class="col-lg-3 col-6">
            <!-- MESA COLOR ROJO ESTADO CERRADA -->
            <div v-if="table.status == 'close'" class="small-box bg-danger">
               <div class="inner">
                  <h3>Mesa [[table.table_id]]</h3>
                  <h5>Hora: [[table.start_time]]</h5>
                  <p>Nota: [[table.comment]]</p>
               </div>
               <div class="icon">
                  <i class="fa fa-table"></i>
               </div>
               <a href="#" @click="selectTable(table.tableId, table.status)" data-toggle="modal" data-target="#modal-close" class="small-box-footer">
                  Más información <i class="fa fa-circle-plus"></i>
               </a>
            </div>
            <!-- MESA COLOR VERDE ESTADO ABIERTA -->
            <div v-else class="small-box bg-success">
               <div class="inner">
                  <h3>Mesa [[table.tableId]]</h3>
                  <h5>Hora: [[table.start_time]]</h5>
                  <p>Nota: [[table.comment]]</p>
               </div>
               <div class="icon">
                  <i class="fa fa-table"></i>
               </div>
               <a href="#" @click="selectTable(table.tableId, table.status)" data-toggle="modal" data-target="#modal-open" class="small-box-footer">
                  Más información <i class="fa fa-circle-plus"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="modal fade" id="modal-close">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header bg-danger">
               <h4 class="modal-title">Mesa Cerrada</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="submitOpenTableForm" autocomplete="on">
               <div class="modal-body">
                  <section class="col-lg-12">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="">Meser@</label>
                              <input v-model="form.waiter" class="form-control" type="text"  required/>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                              <label for="">Comentario</label>
                              <textarea v-model="form.comment" class="form-control" cols="30" rows="3" required></textarea>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
               <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-success">Abrir mesa</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!-- MODULO MESA ABIERTA -->
   <div class="modal fade" id="modal-open">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header bg-success">
               <h4 class="modal-title">Pedidos [[selectedTable.name]]</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="col-md-12">
                  <div class="form-group">
                     <label>Search</label>
                     <input v-model="keyupInput" class="form-control" type="search" @keyup="keyupSearch">
                  </div>
               </div>
               <table id="table_menus" class="table table-responsive p-1 table-bordered table-hover">
                  <thead>
                     <tr class="text-center">
                        <th></th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Cant</th>
                        <th>Precio</th>
                     </tr>
                  </thead>
                  <tbody class="text-center">
                        <tr v-for="menu in menus" :key="menu.id">
                           <td>
                              <button @click="addOrder(selectedTable.tableId,menu.id,menu.cant)" class="btn btn-primary">
                                 <i class="fas fa-plus"></i>
                              </button></td>
                           <td>[[menu.name]]</td>
                           <td>[[menu.description]]</td>
                           <td><input v-model="menu.cant" style="width: 60px;" type="number"></td>
                           <td>[[menu.price]]</td>
                        </tr>
                  </tbody>
               </table>
               <table id="table_orders" class="table table-responsive p-1 table-bordered table-hover">
                  <thead>
                     <tr class="text-center">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Nota</th>
                        <th>Cantidad</th>
                        <th>Estado</th>
                     </tr>
                  </thead>
                  <tbody class="text-center">
                        <tr v-for="order in selectedTable.orders" :key="order.id">
                           <td>[[order.id]]</td>
                           <td>[[order.name]]</td>
                           <td>[[order.description]]</td>
                           <td></td>
                           <td>[[order.quantity]]</td>
                           <td >
                              <span v-if="order.status == 'pending'" class="badge badge-danger">[[order.status]]</span>
                              <span v-else class="badge badge-success">[[order.status]]</span>
                           </td>
                        </tr>
                  </tbody>
               </table>
            </div>
            <div class="modal-footer justify-content-between">
               <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
               <button @click="closeTable(selectedTable.tableId)" type="button" class="btn btn-warning">Cerrar mesa</button>
            </div>
         </div>
      </div>
   </div>
   <!-- MODULO MESA CERRADA -->
</div>
{% endblock base %}

{% block js %}
<script src="{{url_for('static',filename='tables.js')}}"></script>
{% endblock js %}