{% extends 'base.html' %} {% block base %}
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0">Gestion de Mesas</h1>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="">Gestion de Mesas</a></li>
               <li class="breadcrumb-item active">Mesas</li>
            </ol>
         </div>
      </div>
   </div>
</div>
<div id="tables">
   <div class="content">
      <div class="row">
         <div v-for="i in tables" :key="i.table_id" class="col-lg-3 col-6">
            <!-- MESA COLOR ROJO ESTADO CERRADA -->
            <div v-if="i.status == 'close'" class="small-box bg-danger">
               <div class="inner">
                  <h3>Mesa [[i.table_id]]</h3>
                  <h5>Hora: [[i.start_time]]</h5>
                  <p>Note: [[i.comment]]</p>
               </div>
               <div class="icon">
                  <i class="fa fa-table"></i>
               </div>
               <a href="#" @click="get_table_id(i.table_id,i.status)" data-toggle="modal" data-target="#modal-close" class="small-box-footer">
                  Mas informacion <i class="fa fa-circle-plus"></i>
               </a>
            </div>
            <!-- MESA COLOR VERDE ESTADO ABIERTA -->
            <div v-else class="small-box bg-success">
               <div class="inner">
                  <h3>Mesa [[i.table_id]]</h3>
                  <h5>Hora: [[i.start_time]]</h5>
                  <p>Note: [[i.comment]]</p>
               </div>
               <div class="icon">
                  <i class="fa fa-table"></i>
               </div>
               <a href="#" @click="get_table_id(i.table_id,i.status)" data-toggle="modal" data-target="#modal-open" class="small-box-footer">
                  Mas informacion <i class="fa fa-circle-plus"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="modal fade" id="modal-close">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header bg-danger">
               <h4 class="modal-title">Mesa Cerrada</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="submitOpenTable">
               <div class="modal-body">
                  <section class="col-lg-12">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="">Meser(@)</label>
                              <input v-model="form.waiter" class="form-control" type="text" required/>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                              <label for="">Comentario</label>
                              <textarea v-model="form.comment" class="form-control" cols="30" rows="3" required></textarea>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
               <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success">Abrir mesa</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!-- MODULO MESA ABIERTA -->
   <div class="modal fade" id="modal-open">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header bg-success">
               <h4 class="modal-title">Pedidos [[table.name]]</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="mb-1">
                  <button id="btnNewOrder" class="float-left btn btn-info">
                     Nuevo pedido <i class="nav-icon fas fa-plus"></i>
                  </button>
                  <button style="display: none" id="btnReturn" class="float-right btn btn-info">
                     Volver <i class="nav-icon fas fa-undo"></i>
                  </button>
               </div>
               <table id="table_orders" class="table table-responsive p-1 table-bordered table-hover">
                  <thead>
                     <tr class="text-center">
                        <th>#</th>
                        <th>name</th>
                        <th>description</th>
                        <th>note</th>
                        <th>quantity</th>
                        <th>status</th>
                     </tr>
                  </thead>
                  <tbody class="text-center">
                        <tr v-for="item in table.orders" :key="item.id">
                           <td>[[item.id]]</td>
                           <td>[[item.name]]</td>
                           <td>[[item.description]]</td>
                           <td></td>
                           <td>[[item.quantity]]</td>
                           <td >
                              <span v-if="item.status == 'pending'" class="badge badge-danger">[[item.status]]</span>
                              <span v-else class="badge badge-success">[[item.status]]</span>
                           </td>
                        </tr>
                  </tbody>
               </table>
            </div>
            <div class="modal-footer justify-content-between">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>
            </div>
         </div>
      </div>
   </div>
   <!-- MODULO MESA CERRADA -->
</div>
{% endblock base %} {% block js %}
<script src="{{url_for('static',filename='tables.js')}}"></script>
{% endblock js %}